/* fonts 
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
*/

/* colors 

*/


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif; 
}

header {
    background: linear-gradient(110deg, #E16268 50%, #ECCB45 50%);
    text-align: center;
    color: #ffffff;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    padding: 50px 0;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    padding: 1rem;
}

h2 {
    font-size: 1rem;
}

button {
    
    border: 2px solid #4EB0D5;
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 25px;
    color: #4EB0D5;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .1rem;
}

button:hover {
    background-color: #4EB0D5;
    color: #FFFFFF;
    cursor:pointer;
}

#lunch-boxes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#lunch-boxes p {
    text-transform: uppercase;
    padding: 15px 0;
}

#box-one {
    color: #E16268;
}

#box-two {
    color: #E48E44;
}

#box-three {
    color: #98A841;
}

#box-four {
    color: #ECCB45;
}

#box-five {
    color: #4EB0D5;
}

#lunch-boxes div {
    padding:30px;
}

#lunch-boxes h3 {
    font-family: 'Lobster', cursive;
    font-size: 1.7rem;
}

#lunch-boxes img {
    height: 75px;
}

#lunch-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    background-color: #ECCB45;
    height: 200px;
    justify-content: center;
}

#footerTitle {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    padding: 15px 0;
    text-align: center;
}

#footerSub {
    font-weight: 600;
}

@media (min-width: 800px) {
    main {
        padding: 70px 0;
        height: 350px;
    }

    #lunch-boxes {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    #box-one,
    #box-two,
    #box-three,
    #box-four,
    #box-five {
        width:15%;
        min-height: 200px;
    }
}