/* fonts 
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
*/

/* colors 

*/


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif; 
}

header {
    background: linear-gradient(110deg, #E16268 50%, #ECCB45 50%);
    text-align: center;
    color: #ffffff;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    padding: 1rem;
}

h2 {
    font-size: 1rem;
}